<div class="video-list-container">
  <ul class="video-list">
    <li>
      <h2>Video Title Here</h2>
      <p>Video Description Here</p>
    </li>
    <li>
      <h2>Video Title Here</h2>
      <p>Video Description Here</p>
    </li>
    <li>
      <h2>Video Title Here</h2>
      <p>Video Description Here</p>
    </li>
    <li>
      <h2>Video Title Here</h2>
      <p>Video Description Here</p>
    </li>
    <li>
      <h2>Video Title Here</h2>
      <p>Video Description Here</p>
    </li>
    <li>
      <h2>Video Title Here</h2>
      <p>Video Description Here</p>
    </li>
  </ul>
</div>